<div class="jumbotron text-center" style="background-color:burlywood">
      <div class="row" style="margin-left:20%">
            <div class="col-sm-9 col-sm-offset-3">
                  <h2>Entre em contato conosco!</h2>
                  <p> Digite os seus dados e retornaremos</p>

                  <form action="/contato" method="POST">
                        <div class="form-group">
                              <label>Nome</label>
                              <input type="text" name="txtNome" 
					   class="form-control">
                        </div>
                        <div class="form-group">
                              <label>Email</label>
                              <input type="text" 
				name="txtEmail" class="form-control">
                        </div>
                        <div class="form-group">
                              <label>Sua mensagem</label>
                              <input type="text" 
				name="txtMensagem" class="form-control">
                        </div>
                        <div class="form-group text-right">
                              <button type="submit" class="btn btn-primary btn-lg">
					   Enviar
				    </button>
                        </div>
                  </form>
            </div>
      </div>
</div>
