
<%- contentFor('body') %> 
<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="jumbotron text-center"> 

        <h1>FINALIZE SUA COMPRA</h1><br>
        <div class="row"> 
            
            <p class="escolha"> Confirme sua escolha: <% Carrinho %> </p>
            <div class="cofirmando"><br><br>
                    <div class="card" style="width: 18rem;">
                        <img src=" ERA PRA VIM DO BANCO" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> TITULO </h5>
                                <p class="card-text"> DESCRIÇÃO </p>
                                <p class="card-title"> PREÇO </p>
                                <a href="#" class="btn btn-warning">Finalizar Compra</a>
                            </div>
                    </div>
            </div>               
        </div> 
</div>

