<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="css/style.css">

<div class="imagem">
  
    <img class="imagem" src="italy.jpg" alt="">
    <div class="container">
        <h2 class="texto">BEM-VINDO A NOSSA AGENCIA DE INGRESSOS SMARTINGRESSOS!</h2><br><br><br>
        <p class="texto" style="width: 800px;">A SmartIngressos em parceria com varias empresas
            é uma agencia que faz vendas de ingressos, ou seja ela divulga os produtos das empresas. 
            Fundada em 2016 na cidade de Campinas, vem expandindo rapidamente, aumentando o numero de 
            funcionarios, Atualmente o Grupo SmartIngressos emprega no país cerca de 2.094 colaboradores e registrou, 
            em 2019, um faturamento líquido de R$ 5.3 milhões com a oferta de produtos e serviços em parceria
            com diversas empresas do mercado, com seu sitema tecnologia de ponta vem implementando soluções inteligentes
            As operações do grupo na América Latina esta a todo vapor tirando do papel e fazendo acontecer</p><br><br><br><br><br><br><br><br><br><br><br>
        <h2 class="texto" >Venha fazer parte nosso Grupo, Entre em contato conosco!</h2>
    </div>
</div>
